<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav class="navbar sticky-top navbar-dark navbar-collapse bg-dark navbar-expand-xl navbar-light bg-light" th:fragment="navbar">
    <a class="navbar-brand ml-auto" href="#">Mischok Academy</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse align-right" id="navbarNavDropdown">
        <ul class="navbar-nav align-right">
            <li class="nav-item"
            th:if="${selfUser.getSchoolClass()} != null">
                <a class="nav-link" th:href="|@{/class/{id}(id=selfUser.getSchoolClass().getId())}|" th:text="${selfUser.getSchoolClass().getName()}"/>
            </li>
            <!-- Section for Admin -->
            <li sec:authorize="hasAuthority('ADMIN')"
                class="nav-item"
                th:classappend="${httpServletRequest.getRequestURI() == '/classes'} ? 'active-element' : 'inactive-element'">
                <a class="nav-link" href="#">Klassenverwaltung</a>
            </li>
            <li sec:authorize="hasAuthority('ADMIN')"
                class="nav-item"
                th:classappend="${httpServletRequest.getRequestURI() == '/users'} ? 'active-element' : 'inactive-element'">
                <a class="nav-link" href="#">Benutzerverwaltung</a>
            </li>
            <!-- Section for Students -->
            <li sec:authorize="hasAuthority('STUDENT')"
                class="nav-item"
                th:classappend="${httpServletRequest.getRequestURI() == '/journal'} ? 'active-element' : 'inavtive-element'">
                <a class="nav-link" href="#">Journal</a>
            </li>
            <!-- Section for Teachers -->
            <li sec:authorize="hasAuthority('TEACHER')"
            class="nav-item dropdown"
            th:classappend="${httpServletRequest.getRequestURI() == '/teacher'} ? 'active-element' : 'inactive-element'">
                <a class="nav-link dropdown-toggle " id="navbarTeacherDropDown" data-toggle="teacher-dropdown" aria-haspopup="true" aria-expanded="false">Lehrer</a>
                <div class="dropdown-menu" aria-labelledby="navbarTeacherDropDown">
                    <a class="dropdown-item">Stundenplan</a>
                    <a class="dropdown-item">Fächer</a>
                </div>
            </li>
            <li class="nav-item dropdown inactive-element">
                <a th:text="${selfUser.getUsername()}" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                <div class="dropdown-menu profile-dropdown" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </li>
        </ul>
    </div>
    <style>
        .active-element {
            text-shadow: whitesmoke 0 0 3px;
        }
        .inactive-element {
            transition: text-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
            color: lightgray;
        }
        .inactive-element:hover {
            color: white;
            text-shadow: white 0 0 1px;
        }
        .align-right {
            justify-content: end;
            margin-right: 0.2%;
        }
        .profile-dropdown {
            right: 0;
            left: auto;
        }

    </style>
</nav>
