<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled>
<head>
    <meta charset="UTF-8">
    <title>Klassen</title>
    <link th:replace="~{bootstrap/style.html}">
    <form method="post" th:action="@{/classrooms}" th:object="${newClass}">
        <input id="name" placeholder="Enter Name" required type="text" th:field="*{name}"/>
        <input id="longDescription" placeholder="Enter long Description" required type="text" th:field="*{longDescription}"/>
        <input id="shortDescription" placeholder="Enter short Description" required type="text" th:field="*{shortDescription}"/>
        </div>
        <input type="submit" value="Create User">
    </form>
</head>
<body class="background-color">
<script th:replace="~{bootstrap/script.html}"></script>
<style>
    body {
       font-family: "sans-serif";
       font-color: white;
   }

   input {
        margin-top: 10px;
        margin-left: 10px;
   }

   .background-color {
       background-color: #343a40;
   }

    div {
       margin-left: 20px;
    }

   .table, th, td {
       margin-left: 100px;
       border: 1px solid white;
   }

</style>

<p th:if="${createClass != null}" style="color:#ffff;">Klasse hinzugefügt</p>
<br><br>
<div>
    <p style="color:white">Klassen 09/2023</p>
<table style="color:white" >
    <tr>
        <th>ID</th>
        <th>Klassen</th>
        <th>Anzahl Schüler </th>
    </tr>
    <tr>
        <td>F3</td>
        <td>Systemintegration</td>
        <td>13</td>
    </tr>
    <tr>
        <td>A3</td>
        <td>Anwendungsentwicklung</td>
        <td>14</td>
    </tr>
</table>
</div><br>
<div>
    <p style="color:white">Klassen 03/2024</p>
    <table style="color:white">
        <tr>
            <th>ID</th>
            <th>Klassen</th>
            <th>Anzahl Schüler </th>
        </tr>
        <tr>
            <td>F4</td>
            <td>Systemintegration</td>
            <td>10</td>
        </tr>
        <tr>
            <td>A4</td>
            <td>Anwendungsentwicklung</td>
            <td>11</td>
        </tr>
    </table>
</div>
</body>
</html>