<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Learning Journals</title>
    <link th:replace="~{bootstrap/style.html}">
</head>
<body class="background-color">
<nav th:replace="~{components/navbar/navbar.html :: navbar (selfUser=${selfUser}, httpServletRequest=${httpServletRequest})}"></nav>
<div>
    <section class="journal-section">
        <form >
            <div class="form-group">
                <label for="journalTitle">Titel</label>
                <input type="text" class="form-control" id="journalTitle" placeholder="Titel">
            </div>
            <div class="form-group">
                <label for="journalContent">Inhalt</label>
                <textarea class="form-control" id="journalContent" rows="3" placeholder="Inhalt"></textarea>
            </div>
            <div class="form-group">
                <label for="journalSubject">Subject</label>
                <select id="journalSubject">
                    <option>Test</option>
                </select>
            </div>
            <div class="form-group">
                <label for="journalTags">Tags</label>
                <input type="text" class="form-control" id="journalTags" placeholder="Tags">
            </div>
            <button type="submit" class="btn btn-dark">Speichern</button>
        </form>
    </section>
    <section class="journal-section">
        <div th:each="journalEntry: ${journalEntries}">
            <div class="journal-entry">
                <div class="journal-entry-title">
                    <h3 th:text="${journalEntry.getTitle()}"></h3>
                    <h3 th:text="${journalEntry.getSubject()}"></h3>
                    <h3 th:text="${journalEntry.getTag()}"></h3>
                </div>
                <p th:text="${journalEntry.getEntry().substring(0, mathDto.min(280, journalEntry.getEntry().length()))}"></p>
            </div>
        </div>
    </section>
</div>
<style>
    .background-color {
        background-color: #343a40;
    }

</style>
<script th:src="@{/js/navbar.js}"></script>
<script th:replace="~{bootstrap/script.html}"></script>
</body>
</html>